html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}dfn{font-style:italic}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg:not(:root){overflow:hidden}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none!important}


body {
    background:#222;
}

header {
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    margin-bottom: 60px;
}

.header-bg {
    position:absolute;
    content:" ";
    height:auto;
    -webkit-filter: grayscale(100%) contrast(1);
            filter: grayscale(100%) contrast(1);
    mix-blend-mode: darken;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
    width:100%;
    margin-top:40px;
    opacity:0.8;
}


.big-title {
    margin:auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: center;
    line-height: 0.8;
    margin-bottom:30px;
}


nav {
    width:100%;
    height:80px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

nav ul {
    list-style: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:0;
    padding:0;
}

nav li {
    margin:10px;
}

nav a {
    text-transform: uppercase;
    font-weight: 700;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

nav a:hover {
    text-decoration:none;
}

section {
    max-width:1040px;
    margin: auto;
    margin-bottom: 60px;
}


.communaute {
    height:100%;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
       -ms-flex-flow:row nowrap;
           flex-flow:row nowrap;
   -ms-flex-pack: distribute;
       justify-content: space-around;
}

.communaute svg {
    max-width:130px;
    height:auto;
}

.communaute-title {
    text-align:center;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 700;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    margin-bottom:20px;
}


.jumbotron {
    width:100%;
    height:500px;
    margin-bottom: 60px;
    color:white;
    position: relative;
}

.jumbotron__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height:100%;
    background: -webkit-linear-gradient(300deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background: -o-linear-gradient(300deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background: linear-gradient(150deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background-size: cover;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
}

.jumbotron__content {
    max-width:1040px;
    margin:auto;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.jumbotron__title {
    text-align: center;
    font-size: 6vw;
    line-height: 1;
    text-transform: uppercase;
}

.jumbotron__sublabel {
    text-align: center;
    font-size: 18px;
}

.jumbotron__bouton {
    border: 1px solid white;
    border-radius: 3px;
    background:transparent;
}

.jumbotron__bouton {
    background: #fff;
    border-color: #d8d7d7 #bdbdbd #727272;
    box-shadow: 1px 3px 3px #333;
}

.jumbotron__bouton:hover {
    cursor:pointer;
    text-decoration: none;
    color:#333;
}

.jumbotron__bouton:active {
    transform: scale(0.95, 0.95);
}

.jumbotron__bouton {
    height: 45px;
    margin: 2px;
    border-width: 3px 7px 10px;
    border-left-width: 7px;
    border-style: solid;
    border-radius: 4px;
    float: left;
    width:auto;
    padding-left: 5px;
    padding-right: 5px;
    color:#333;
}

.jumbotron__bouton .keycap {
    width: inherit;
    height: inherit;
    font-size: 15px;
    line-height: 45px;
    text-indent: 7px;
    background: #333;
    background: linear-gradient(to right, rgb(250, 249, 249), #d8d7d7, #fff);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
}
