@import "./scss/base";

body {
    background:#222;
}

header {
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    margin-bottom: 60px;
}

.header-bg {
    position:absolute;
    content:" ";
    height:auto;
    -webkit-filter: grayscale(100%) contrast(1);
            filter: grayscale(100%) contrast(1);
    mix-blend-mode: darken;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
    width:100%;
    margin-top:40px;
    opacity:0.8;
}


.big-title {
    margin:auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10vw;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: center;
    line-height: 0.8;
    margin-bottom:30px;
}


nav {
    width:100%;
    height:80px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            ul{
              list-style: none;
              display:-webkit-box;
              display:-ms-flexbox;
              display:flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin:0;
              padding:0;
            }
            li {
              margin:10px;
            }
            a {
              text-transform: uppercase;
              font-weight: 700;
              background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
              background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
              background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
              background-clip: border-box;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -webkit-box-decoration-break: clone;
              box-decoration-break: clone;
              &:hover{
                text-decoration:none;

              }
          }
}

section {
    max-width:1040px;
    margin: auto;
    margin-bottom: 60px;
}


.communaute {
    height:100%;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:horizontal;
   -webkit-box-direction:normal;
       -ms-flex-flow:row nowrap;
           flex-flow:row nowrap;
   -ms-flex-pack: distribute;
       justify-content: space-around;
       svg {
        max-width:130px;
        height:auto;
    }
}

.communaute-title {
    text-align:center;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 700;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 40%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    margin-bottom:20px;
}


.jumbotron {
    width:100%;
    height:500px;
    margin-bottom: 60px;
    color:white;
    position: relative;
}

.jumbotron__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height:100%;
    background: -webkit-linear-gradient(300deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background: -o-linear-gradient(300deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background: linear-gradient(150deg,rgba(255,209, 74, 0.9) 15%, rgba(254,139, 196, 0.9) 40%,rgba(108,132,254,0.9) 94%), url('img/bg.jpg') no-repeat;
    background-size: cover;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
}

.jumbotron__content {
    max-width:1040px;
    margin:auto;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.jumbotron__title {
    text-align: center;
    font-size: 6vw;
    line-height: 1;
    text-transform: uppercase;
}

.jumbotron__sublabel {
    text-align: center;
    font-size: 18px;
}

.jumbotron__bouton {
  border: 1px solid white;
  border-radius: 3px;
  background:transparent;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-left-width: 7px;
  border-style: solid;
  border-radius: 4px;
  float: left;
  width:auto;
  padding-left: 5px;
  padding-right: 5px;
  color:#333;
    background: #fff;
    border-color: #d8d7d7 #bdbdbd #727272;
    box-shadow: 1px 3px 3px #333;
    &:hover {
      cursor:pointer;
      text-decoration: none;
      color:#333;
  }
  &:active {
    transform: scale(0.95, 0.95);
}
.keycap {
  width: inherit;
  height: inherit;
  font-size: 15px;
  line-height: 45px;
  text-indent: 7px;
  background: #333;
  background: linear-gradient(to right, rgb(250, 249, 249), #d8d7d7, #fff);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}
}


