---
templateClass: tmpl-home
images:
  - bg.jpg
title: Accueil
---
<!DOCTYPE html>
<html>
    <head>
      {% include 'layouts/partials/_head.njk' %}
    </head>
    <body>
      {% include 'layouts/partials/_nav.njk' %}
      <header>
        <h2 class="big-title">Mechanical Keyboards<br>France</h2>
        <div class="header-bg">
          <img src="img/bg.jpg" alt="">
        </div>
      </header>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        <div class="jumbotron">
            <div class="jumbotron__image"></div>
            <div class="jumbotron__content">
              <h2 class="jumbotron__title">Meetup en bretagne3</h2>
              <p class="jumbotron__sublabel">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi molestiae iure ab ea adipisci, labore impedit dolores corrupti nostrum tempora mollitia fuga magnam velit voluptate. Debitis, voluptate? Magni, minima eveniet!
              </p>
              <a href="#" class="jumbotron__bouton">
                  <div class="keycap">En savoir plus</div>
              </a>
            </div>
        </div>
        <section>
            <h3 class="communaute-title">Nous rejoindre</h3>
            <div class="communaute">
                <a href="https://discord.gg/dtPuEBr" target="_blank" aria-label="Nous rejoindre sur Discord">
                  <i class="fab fa-discord"></i>
                </a>
                <a href="https://www.facebook.com/groups/291762867913654/" target="_blank" aria-label="Nous rejoindre sur Facebook">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.meetup.com/Mechanical-Keyboards-Paris" target="_blank" aria-label="Nous rejoindre sur Meetup">
                  <i class="fab fa-meetup"></i>
                </a>
            </div>
        </section>
      </main>
      {% include 'layouts/partials/_footer.njk' %}
    </body>
</html>



