---
layout: layouts/base.njk
templateClass: tmpl-page
---
<div class="page-header">
  <div class="page-header__img">
    <div class="parallax" style="background-image:url('/img/{{img}}')" ></div>
  </div>
  <h1>{{ title }}</h1>
</div>
<section class="narrow">
  {{ page | breadcrumb | safe }}
  {{ content | safe }}
</section>
