html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex='-1']:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button; }

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-family: 'fv-almelo-regular';
  src: url("/assets/fonts/FV_Almelo.ttf") format("woff"), url("/assets/fonts/FV_Almelo.ttf") format("opentype"), url("/assets/fonts/FV_Almelo.ttf") format("truetype"); }

html {
  font-size: 62.5%; }

body {
  background: #182b4c;
  font-feature-settings: 'onum' 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-size: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: 0; }

main {
  flex: 1; }

section {
  max-width: 1040px;
  margin: auto;
  margin-bottom: 60px;
  color: white;
  padding: 0 20px; }
  section.home_intro {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #fff; }
  section img {
    max-width: 100%; }
  section .affiche {
    max-width: 100%; }

section.narrow {
  max-width: 860px; }

h1,
h2,
h3 {
  text-transform: uppercase;
  color: #00ace7;
  text-align: center;
  font-family: 'fv-almelo-regular'; }

h1 {
  font-weight: 900;
  font-size: 6.2rem;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 40px; }

h2 {
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 30px; }

h3 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px; }

a,
p,
ol,
ul {
  font-family: 'Roboto';
  font-weight: 200; }

a {
  color: white;
  text-decoration: underline; }
  a:hover {
    color: #f7314a; }

p {
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem; }

p img {
  margin: auto;
  display: block; }

ul,
ol {
  margin-bottom: 20px;
  font-weight: 600; }
  ul a,
  ol a {
    font-weight: 600; }

.text-center {
  text-align: center; }

hr {
  height: 4px;
  color: #f7314a;
  background: #f7314a;
  margin: 40px 0 40px 0; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  text-align: center;
  z-index: 10; }

nav {
  width: 100%;
  height: 35px;
  padding-top: 2px;
  margin-top: 30px;
  background: #020b19;
  border-top: 3px solid #f7314a;
  border-bottom: 3px solid #f7314a;
  box-shadow: 2px 2px 2px #7D1825;
  display: block;
  text-align: center; }
  @media (max-width: 700px) {
    nav {
      height: 35px;
      margin-top: 0px;
      border-top: 3px solid black;
      border-bottom: 3px solid #f7314a; } }
  nav * {
    box-sizing: border-box; }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 0 20px;
    height: 100%;
    padding: 0; }
    @media (max-width: 700px) {
      nav ul {
        margin: 0 20px; } }
  nav li {
    margin: 0 2px;
    height: 35px;
    padding: 3px 0 0 0; }
  nav li:not(:last-child):not(:first-child):after {
    content: "-";
    color: white; }
  nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px; }
    @media (max-width: 340px) {
      nav a {
        padding: 2px; } }
    nav a:hover {
      color: #00ace7; }
    @media (max-width: 460px) {
      nav a {
        font-size: 1.2rem; } }
    nav a svg {
      width: 120px;
      margin-top: -50px; }
      @media (max-width: 700px) {
        nav a svg {
          width: 50px;
          margin-top: -14px; } }

footer {
  background-color: #020b19;
  width: 100%;
  height: auto;
  color: white;
  bottom: 0;
  margin-top: auto;
  border-top: 3px solid #f7314a; }

.footer__social {
  text-align: center;
  padding: 20px 20px 40px 20px; }
  .footer__social a {
    text-decoration: none;
    padding: 0 20px 20px 20px;
    display: inline-block; }
    .footer__social a:hover {
      text-decoration: none;
      color: transparent; }
    .footer__social a i {
      color: white;
      font-size: 40px; }
      .footer__social a i:hover {
        color: #00ace7;
        transition: 0.25s; }

.jumbotron {
  width: 100%;
  height: 80vh;
  color: white;
  position: relative;
  overflow: hidden; }

.jumbotron__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute; }
  .jumbotron__image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    z-index: -1; }

.jumbotron__image:before {
  background: #182b4c;
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  opacity: 0.7; }

.jumbotron__content {
  max-width: 1040px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px; }

.jumbotron__title {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background: none;
  text-align: center;
  -webkit-text-fill-color: unset; }

.jumbotron__sublabel {
  text-align: center;
  font-size: 18px; }

.jumbotron__bouton {
  border: 3px solid #f7314a;
  border-radius: 7px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: #f7314a;
  transition: 0.35s;
  text-transform: uppercase;
  font-weight: 600; }
  .jumbotron__bouton:hover {
    background: #f7314a;
    color: white;
    border: 3px solid white;
    text-decoration: none; }

.dual-panel {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  overflow: hidden; }
  @media (max-width: 700px) {
    .dual-panel {
      flex-flow: column nowrap;
      height: initial; } }
  .dual-panel .image {
    position: relative;
    width: 50vw;
    height: 100%;
    transition: 0.25s;
    z-index: 1; }
    @media (max-width: 700px) {
      .dual-panel .image {
        display: none; } }
    .dual-panel .image img,
    .dual-panel .image picture {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%;
      filter: grayscale(1);
      z-index: -1; }
  .dual-panel .image:before {
    background: white;
    width: 100%;
    content: ' ';
    height: 100%;
    position: absolute;
    opacity: 0.5; }
  .dual-panel .image:hover {
    transform: scale(1.2);
    transition: 0.25s;
    opacity: 1; }
    .dual-panel .image:hover img,
    .dual-panel .image:hover picture {
      filter: grayscale(0); }
  .dual-panel .texte {
    width: 50vw;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 2;
    height: 100%; }
    .dual-panel .texte ul,
    .dual-panel .texte ol {
      padding: 0;
      font-weight: 600; }
    .dual-panel .texte a {
      font-weight: 600; }
    .dual-panel .texte h2 {
      color: white; }
    @media (max-width: 700px) {
      .dual-panel .texte {
        width: auto;
        padding: 30px; }
        .dual-panel .texte ul,
        .dual-panel .texte ol {
          padding: 0 0 0 20px; } }

.dual-panel:nth-child(even) .texte {
  background: #f7314a; }
  .dual-panel:nth-child(even) .texte a:hover {
    color: #00ace7; }

.dual-panel:nth-child(odd) .texte {
  background: #00ace7; }

.social-container {
  margin-top: 30px; }

.communaute {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  .communaute svg {
    max-width: 130px;
    height: auto; }
  .communaute a i {
    color: white;
    font-size: 4vw;
    transition: 0.25s; }
    .communaute a i:hover {
      color: #00ace7; }

.communaute-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  font-weight: 700;
  background: linear-gradient(150deg, #ffd14a 15%, #fe8bc4 40%, #d084fe 94%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin-bottom: 20px; }

.page-header {
  width: 100%;
  height: 30vh;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #00ace7; }
  .page-header h1 {
    margin: 0;
    text-shadow: 1px 1px 1px black;
    color: white;
    transition: 0.55s; }

.page-header__img {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.55s; }

.parallax {
  min-height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: 50% 100%;
  transition: 0.55s;
  z-index: -1; }

.page-header:hover {
  cursor: crosshair;
  transition: 0.55s; }
  .page-header:hover h1 {
    opacity: 0; }

.page-header:hover .parallax {
  transition: 0.55s; }

.page-header:hover .parallax:before {
  opacity: 0;
  transition: 0.55s; }

.parallax:before {
  background: #f7314a;
  background: linear-gradient(180deg, #f7314a 0%, rgba(0, 172, 231, 0.62507) 100%);
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  z-index: 1; }

.sponsors ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none; }
  .sponsors ul li {
    height: 150px;
    width: 150px;
    padding: 2rem; }
    .sponsors ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none; }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px; }
    ul.breadcrumb li a {
      text-decoration: none; }
      ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: '\\'; }

@media (max-width: 500px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  .big-title {
    font-size: 4rem; } }
