body {
    background:#222;
    font-feature-settings: 'onum' 1;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1;
}

main.tmpl-page{
  min-height: 600px;
}

section {
    max-width:1040px;
    margin: auto;
    margin-bottom: 60px;
    color:white;
    padding:0 20px;
    &.home_intro {
      text-align: center;
      font-weight: 900;
      font-size: 2vw;
      background: linear-gradient(150deg, #FFD14A 15%, #FE8BC4 70%, #D084FE 94%);
      background-clip: border-box;
      box-decoration-break: clone;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
    }
}

section.narrow {
    max-width:860px;
}


h1, h2, h3 {
    text-transform: uppercase;
    background: -webkit-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: -o-linear-gradient(300deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background: linear-gradient(150deg,#FFD14A 15%,#FE8BC4 70%,#D084FE 94%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 5vw;
    line-height: 1;
    margin-bottom:30px;
}

h2 {
    font-weight: 900;
    font-size: 3vw;
    line-height: 1;
    margin-bottom:20px;
}

h3 {
    font-weight: 900;
    font-size: 2vw;
    line-height: 1;
    margin-bottom:10px;
}

a {
   color:#FFD14A;
    &:hover{
      text-decoration:none;

    }
}


p {
    color:white;
    margin-bottom: 10px;
}