html {
  font-size: 62.5%;
}
body {
  background: $bleu-gris;
  font-feature-settings: 'onum' 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-size: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  font-family:  'Roboto', sans-serif;
  min-height: 100vh;
  width:100%;
  margin:0; 
}

main {
  flex: 1;
}

section {
  max-width: 1040px;
  margin: auto;
  margin-bottom: 60px;
  color: white;
  padding: 0 20px;
  &.home_intro {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color:#FFF;
  }

  img {
    max-width: 100%;
  }

  .affiche {
    max-width: 100%;
  }
}

section.narrow {
  max-width: 860px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color:$bleu;
  text-align: center;
  font-family: 'fv-almelo-regular';
}

h1 {
  font-weight: 900;
  font-size: 6.2rem;
  line-height: 1;
  margin-top:40px;

  margin-bottom:40px;
}

h2 {
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 30px;
}

h3 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

a, p, ol, ul {
  font-family: 'Roboto';
  font-weight: 200;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
    color:$rouge;
  }
}

p {
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

p img {
  margin:auto;
display: block;
}

ul, ol {
  margin-bottom: 20px;
  font-weight: 600;
 a {
  font-weight: 600;
 }
}

.text-center {
  text-align: center;
}

hr {
  height:4px;
  color:$rouge;
  background: $rouge;
  margin: 40px 0 40px 0;
}

// .tmpl-page{
//   margin:20px 0;
// }
