body {
  background: $bleu-gris;
  font-feature-settings: 'onum' 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
html {
  font-size: 62.5%;
}

body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

section {
  max-width: 1040px;
  margin: auto;
  margin-bottom: 60px;
  color: white;
  padding: 0 20px;
  &.home_intro {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color:#FFF;
    // background: linear-gradient(150deg, #ffd14a 15%, #fe8bc4 70%, #d084fe 94%);
    // background-clip: border-box;
    // box-decoration-break: clone;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-box-decoration-break: clone;
  }

  img {
    max-width: 100%;
  }

  .affiche {
    max-width: 100%;
  }
}

section.narrow {
  max-width: 860px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color:$bleu;
  text-align: center;
  font-family: 'fv-almelo-regular';
}

h1 {
  font-weight: 900;
  font-size: 6.2rem;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
    color:$rouge;
  }
}

p {
  color: white;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.text-center {
  text-align: center;
}

hr {
  height:4px;
  color:$rouge;
  background: $rouge;
  margin: 40px 0 40px 0;
}
