@font-face {
  font-family: 'fv-almelo-regular';
  src: url('/assets/fonts/FV_Almelo.ttf') format('woff'),
    url('/assets/fonts/FV_Almelo.ttf') format('opentype'),
    url('/assets/fonts/FV_Almelo.ttf') format('truetype');
}
