footer {
  background-color: $noir;
  width: 100%;
  height: auto;
  color: white;
  bottom:0;
  margin-top:auto; 
  border-top:3px solid $rouge;
}

.footer__social {
  text-align: center;
  padding: 20px 20px 40px 20px;

  a {
    text-decoration: none;
    padding: 0 20px 20px 20px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: transparent;
    }

    i {
      color: white;
      font-size: 40px;

      &:hover {
        color:$bleu;
        transition: 0.25s;
      }
    }
  }
}
