footer {
  border-top: 4px solid linear-gradient(150deg, #ffd14a 15%, #fe8bc4 70%, #d084fe 94%);
  background-color: $noir;
  width: 100%;
  margin-top: 20px;
  height: 150px;
  color: white;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  flex-shrink: 0;
}

.footer__social {
  text-align: center;

  a {
    text-decoration: none;
    margin: 20px;

    &:hover {
      text-decoration: none;
      color: transparent;
    }

    i {
      color: white;
      font-size: 40px;

      &:hover {
        // background: linear-gradient(150deg, #ffd14a 15%, #fe8bc4 70%, #d084fe 94%);
        // background-clip: border-box;
        // box-decoration-break: clone;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // -webkit-box-decoration-break: clone;
        color:$bleu;
        transition: 0.25s;
      }
    }
  }
}
