
footer{
    border-top: 4px solid linear-gradient(150deg, #FFD14A 15%, #FE8BC4 70%, #D084FE 94%);
    background-color: #171717;
    width:100%;
    margin-top: 20px;
    height:150px;
    color:white;
    position: relative;
    margin-top: 20px;
    padding:20px;
}

.footer__social {
  text-align: center;
  
  a {
    text-decoration: none;
    margin:20px;

    &:hover{
      text-decoration: none;
      color:transparent;
    }

    i {
      font-size: 3vw!important;
      color:white;
      font-size: 10vw;
      
      &:hover{
        background: linear-gradient(150deg, #FFD14A 15%, #FE8BC4 70%, #D084FE 94%);
        background-clip: border-box;
        box-decoration-break: clone;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        transition: 0.25s;

      }
    }
  }
}