header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

nav {
  width: 100%;
  height: 80px;
  background: $noir;
  border-bottom: 3px solid $rouge;
  @media (max-width: 700px) {
    height: 40px;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    margin: 0 20px;
    padding: 0;
  }
  li {
    margin: 0 2px;
  }
  li:not(:last-child):after {
    content: '-';
    color: white;
  }
  a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;
    @media (max-width: 340px) {
      padding: 2px;
    }
    &:hover {
      color: $bleu;
    }

    @media (max-width: 460px) {
      font-size: 1.2rem;
    }
  }
}
