.jumbotron {
  width: 100%;
  height: 80vh;
  margin-bottom: 60px;
  color: white;
  position: relative;
}

.jumbotron__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(2px);
  }
}

.jumbotron__content {
  max-width: 1040px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.jumbotron__title {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background: none;
  text-align: center;
  -webkit-text-fill-color: unset;
}

.jumbotron__sublabel {
  text-align: center;
  font-size: 18px;
}

.jumbotron__bouton {
  border: 3px solid $rouge;
  border-radius: 7px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: $rouge;
  transition: 0.35s;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background: $rouge;
    color: white;
    border: 3px solid white;
    text-decoration: none;
  }
}

// .jumbotron__bouton {
//   border: 1px solid white;
//   border-radius: 3px;
//   background: transparent;
//   height: 45px;
//   margin: 2px;
//   border-width: 3px 7px 10px;
//   border-left-width: 7px;
//   border-style: solid;
//   border-radius: 4px;
//   float: left;
//   width: auto;
//   padding-left: 5px;
//   padding-right: 5px;
//   color: #333;
//   background: #fff;
//   border-color: #d8d7d7 #bdbdbd #727272;
//   box-shadow: 1px 3px 3px #333;
//   &:hover {
//     cursor: pointer;
//     text-decoration: none;
//     color: #333;
//   }
//   &:active {
//     transform: scale(0.95, 0.95);
//   }
// }

// .keycap {
//   width: inherit;
//   height: inherit;
//   font-size: 15px;
//   line-height: 45px;
//   text-indent: 7px;
//   background: #333;
//   background: linear-gradient(to right, rgb(250, 249, 249), #d8d7d7, #fff);
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   position: relative;
// }


.dual-panel {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;

  @media (max-width:700px) {
    flex-flow: column nowrap;
    height: auto;
  }
  .image {
    position: relative;
    width: 50vw;
    height: 100%;
  
    @media (max-width:700px) {
      width: auto;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .image:before {
    background: #182B4C;
    width: 100%;
    content: " ";
    height: 100%;
    position: absolute;
    opacity: 0.8;
  }

  .texte {
    width: 50vw;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: $rouge;
    @media (max-width:700px) {
      width: auto;
    }
    

    ul {
      padding:0;
    }

    h2 {
      color:white;
    }
  }
}


.social-container {
  margin-top:30px;
}