.jumbotron {
  width: 100%;
  height: 80vh;
  color: white;
  position: relative;
  overflow: hidden;
}

.jumbotron__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    z-index: -1;
  }
}

.jumbotron__image:before {
  background: #182b4c;
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  opacity: 0.7;
}

.jumbotron__content {
  max-width: 1040px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.jumbotron__title {
  text-align: center;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background: none;
  text-align: center;
  -webkit-text-fill-color: unset;
}

.jumbotron__sublabel {
  text-align: center;
  font-size: 18px;
}

.jumbotron__bouton {
  border: 3px solid $rouge;
  border-radius: 7px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: $rouge;
  transition: 0.35s;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background: $rouge;
    color: white;
    border: 3px solid white;
    text-decoration: none;
  }
}

.dual-panel {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  overflow: hidden;

  @media (max-width: 700px) {
    flex-flow: column nowrap;
    height: initial;
  }
  .image {
    position: relative;
    width: 50vw;
    height: 100%;
    transition: 0.25s;
    z-index: 1;
    @media (max-width: 700px) {
      display: none;
    }
    img,
    picture {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: grayscale(1);
      z-index: -1;
    }
  }

  .image:before {
    background: white;
    width: 100%;
    content: ' ';
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .image:hover {
    transform: scale(1.2);
    transition: 0.25s;
    opacity: 1;
    img,
    picture {
      filter: grayscale(0);
    }
  }

  .texte {
    width: 50vw;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 2;
    height: 100%;
    ul,
    ol {
      padding: 0;
      font-weight: 600;
    }

    a {
      font-weight: 600;
    }

    h2 {
      color: white;
    }

    @media (max-width: 700px) {
      width: auto;
      padding: 30px;

      ul,
      ol {
        padding: 0 0 0 20px;
      }
    }
  }
}

.dual-panel:nth-child(even) .texte {
  background: $rouge;
  a:hover {
    color: $bleu;
  }
}

.dual-panel:nth-child(odd) .texte {
  background: $bleu;
}

.social-container {
  margin-top: 30px;
}
