<footer>
  <section>
    <p style="text-align:right">
      <a href="https://discord.gg/dtPuEBr" target="_blank" aria-label="Nous rejoindre sur Discord">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://www.facebook.com/groups/291762867913654/" target="_blank" aria-label="Nous rejoindre sur Facebook">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.meetup.com/Mechanical-Keyboards-Paris" target="_blank" aria-label="Nous rejoindre sur Meetup">
        <i class="fab fa-meetup"></i>
      </a>
    </p>
  </section>
</footer>
