<footer>
  <section class="narrow">
    <div class="footer__social">
      <a href="https://discord.gg/dtPuEBr" target="_blank" aria-label="Nous rejoindre sur Discord">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://twitter.com/mkbdfr" target="_blank" aria-label="Nous suivre sur Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/mkbdfr/" target="_blank" aria-label="Nous suivre sur Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/groups/291762867913654/" target="_blank" aria-label="Nous rejoindre sur Facebook">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.meetup.com/Mechanical-Keyboards-Paris" target="_blank" aria-label="Nous rejoindre sur Meetup">
        <i class="fab fa-meetup"></i>
      </a>
      <a href="https://github.com/claviers" target="_blank" aria-label="Nous rejoindre sur Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
</footer>
