<footer>
  <div class="narrow">
    <h3>Nous rejoindre</h3>

    <div class="footer__social">
      <a href="{{site.socials.discord}}" target="_blank" rel="noreferrer noopener" aria-label="Nous rejoindre sur Discord">
        <i class="fab fa-discord"></i>
      </a>
      <a href="{{site.socials.twitter}}" target="_blank" rel="noreferrer noopener" aria-label="Nous suivre sur Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="{{site.socials.facebook}}" target="_blank" rel="noreferrer noopener" aria-label="Nous rejoindre sur Facebook">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="{{site.socials.instagram}}" target="_blank" rel="noreferrer noopener" ria-label="Nous suivre sur Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="{{site.socials.eventbrite}}" target="_blank" rel="noreferrer noopener" aria-label="Nous rejoindre sur Eventbrite">
        <i class="fab fa-meetup"></i>
      </a>
      <a href="{{site.socials.github}}" target="_blank" rel="noreferrer noopener" aria-label="Nous rejoindre sur Github">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
