<nav>
  <ul class="nav">
    <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
      <a href="{{ '/' | url }}">Accueil</a>
    </li>
    <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
      <a href="{{ '/keyboards' | url }}">Keyboards</a>
    </li>
    <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
      <a href="{{ '/pages-jaunes' | url }}">Pages Jaunes</a>
    </li>
    <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
      <a href="{{ '/meetup' | url }}">Meetup</a>
    </li>
  </ul>
</nav>
